{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
  <div>
    <p style="margin-left: 14px;" class="summary"> Welcome to the mini website devoted to ease the process of lookig for new apartment. </p>
    <p style="margin-left: 14px;" class="summary"> Feel free to check out the tips and tricks for the search of your new home. </p>
    <p style="margin-left: 14px;" class="summary"> In the navigation bar "Available Apartments" you can find exclusive flats available in Austria provided by Sozialbau.at. </p>
    <img src="https://c.pxhere.com/images/ce/79/2483ec5d2be8e7b4ad6db3461eae-1584873.jpg!d" srcset="https://c.pxhere.com/images/ce/79/2483ec5d2be8e7b4ad6db3461eae-1584873.jpg!d"
         alt="buscar, casa, apartamento, propiedad, vaso, aumentador, hombre, casa, comprar, venta, negocio, concepto, inmuebles, bienes raíces, real, Vecinos, alquilar, construcción, inversión, hipoteca, arquitectura, dibujos animados, prismáticos, ilustración, cielo, diseño gráfico, Gafas, gafas, gesto, Fotos gratis In PxHere"
        id="intro_img">
    <p style="text-align: center; color: gray"> Apartment hunting can be fun! </p>
  </div>
{% endblock %}
