{% extends "layout.html" %}

{% block title %}
    Tips and Trics
{% endblock %}

{% block main %}
  <div>
    <p style="margin-left: 14px;" class="summary"> In order to learn more about how to find a perfect flat, check out the following links: </p>
    <div style="margin-left:320px">
        <ul >
            <li>
                <a href="https://www.storagevault.com/15-tips-for-finding-best-flat/" target="_blank" class="hyperlink">Top 15 Tips for Finding the Best Flat</a>
            </li>
            <li>
                <a href="https://www.kstatecollegian.com/2021/12/13/what-to-do-to-find-the-perfect-rented-flat-in-pune/" target="_blank" class="hyperlink">What to Do to Find The Perfect Rented Flat</a>.
            </li>
            <li>
                <a href="https://french.ly/9-tips-perfect-flat-lay//" target="_blank" class="hyperlink">9 Tips for the Perfect Flat Lay</a>.
            </li>
        </ul>
    </div>
    <img src="https://c.pxhere.com/images/c7/fe/7d715cdd48d626a66e9a0cbe616a-1585043.jpg!d" srcset="https://c.pxhere.com/images/c7/fe/7d715cdd48d626a66e9a0cbe616a-1585043.jpg!d"
    alt="Flat search" id="intro_img">
    <p style="text-align: center; color: gray"> Searching flats was never easier! </p>

  </div>
{% endblock %}



